<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">FLORERIA</div>
        <ul class="menu">
            <li><a href="/products">Ramos</a></li>
            <li><a href="/realtimeproducts">Ramos tiempo real</a></li>
        </ul>
        <div class="cart-icon">
            <span id="cart-count" class="cart-count">0</span>
        </div>
    </nav>
    
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/catalog.js"></script>

</body>
</html>