<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Lista de Ramos</h2>
    <div id="ProductContainer">
        <ul class="productList simple">
            {{#each products}}
            <li class="product-item">
                <div class="product-indo">
                    <h2 class="product-title">{{this.title}}</h2>
                    <p class="product-price">${{this.price}}</p>
                    <p class="product-description">{{this.description}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

</body>
</html>